@import "../../assets/styles/colors.scss";

.profile-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 25px;
  justify-content: center;

  @media (max-width: 500px) {
    width: 90%;
  }

  .title {
    position: absolute;
    top: -1px;
    border: 1px solid $primary;
    border-radius: 0 0 10px 10px;
    color: $primary;
    font-weight: 700;
    padding: 5px 20px;
    font-size: 20pt;
    text-align: center;
  }
  .info-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    .personal-friends-block {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 2;
      .personal-block {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid $primary;
        border-radius: 10px;
        padding: 30px;
        padding-top: 60px;
        gap: 20px;
        .user-fields {
          display: flex;
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px;

          .edit-menu {
            display: flex;
            flex-direction: row;
            background-color: $white;
            justify-content: end;
            z-index: 10;
            gap: 5px;

            .edit {
              color: $gray !important;

              &:hover {
                color: $primary !important;
              }
            }
          }
          .base-field {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 50px;
          }

          .label {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 5px;
            span {
              color: $primary;
              font-size: 12pt;
              font-weight: 700;
              text-align: start;
              width: 100%;
            }
            .change-icon {
              color: $primary;
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                rotate: 10deg;
                transition: 0.2s;
              }
            }
          }

          .field {
            color: $gray;
            background-color: transparent;
            font-weight: 600;
          }

          .email {
            @extend .base-field;
          }
          .username {
            @extend .base-field;
          }
          .fullname {
            @extend .base-field;
          }
          .google-connection {
            @extend .base-field;
          }
        }
        .user-stats {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          gap: 10px;
          .stat {
            position: relative;
            border: 2px solid $primary;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .icon {
            color: $primary;
          }
          .count {
            width: 100%;
            position: absolute;
            bottom: -10px;
            text-align: center;
            background-color: $primary;
            color: $white;
            padding: 0 10px;
            border-radius: 5px;
            font-weight: 700;
          }
        }
      }
      .friends-block {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 30px;
        padding-top: 60px;
        background-color: $primary;

        .friends {
          color: $white;
          border: 1px solid $white;
        }

        .friend-list {
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          list-style: none;
          gap: 20px;
          .friend-el {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .logo {
              background-color: $white;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              border: 2px solid $white;
            }
            .info {
              position: relative;
              display: flex;
              flex-direction: column;
              text-align: start;
              color: $white;
              .fullname {
                font-size: 16pt;
                font-weight: 700;
              }
              .username {
                font-size: 10pt;
              }
            }
          }
        }
      }
    }
    .user-options-block {
      flex: 1;
      .info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: end;
        .picture {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $primary;
          margin-left: auto;
        }
        .fullname {
          font-size: 20pt;
          font-weight: 700;
          color: $primary;
        }
        .username {
          font-weight: 600;
          color: $gray;
        }
      }
      .options {
        position: relative;
        display: flex;
        justify-content: end;
        margin-top: 50px;
        .option-list {
          position: relative;
          display: flex;
          list-style: none;
          flex-direction: column;
          justify-content: end;
          width: 100%;
          gap: 10px;
          .option-el {
            display: flex;
            flex-direction: row;
            justify-content: end;
            text-align: end;
            gap: 10px;
            span {
              display: flex;
              align-items: center;
              border: 2px solid $primary;
              color: $primary;
              padding: 5px 15px;
              border-radius: 10px;
              text-align: end;
              font-weight: 600;
              transition: 0.2s;
              &:hover {
                cursor: pointer;
                background-color: $primary;
                color: $white;
                transition: 0.2s;
              }
            }
            &.danger {
              span {
                background-color: $danger;
                border: none;
                color: $white;
                border: 2px solid transparent;

                &:hover {
                  border: 2px solid $danger;
                  background-color: $white;
                  color: $danger;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 500px) {
      flex-direction: column-reverse;
      gap: 10px;
      .user-fields {
        width: 100%;
        .edit-menu {
          width: 100%;
        }
        .base-field {
          width: 100%;
        }
      }

      .user-stats {
        display: flex;
        flex-direction: row;
        .stat {
          display: flex;
          flex-direction: column;
        }
        .icon {
        }
        .count {
          text-align: center;
          align-items: center;
        }
      }

      .user-options-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        .info {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .picture {
            margin-left: 0;
          }
        }
        .options {
          width: 100%;
          padding: 0;
          margin-top: 10px;
          .option-list {
            display: flex;
            flex-direction: row;
            gap: 5px;
            .option-el {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: fit-content;
              height: 50px;
              span {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
              }
              &.mobile {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .changes-block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    padding-top: 60px;
    background-color: $white;
    border: 2px solid $primary;
    .change-list {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      gap: 20px;
      width: 100%;
      .link {
        text-decoration: none;
        color: inherit;
        width: fit-content;
      }
      .change-el {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 150px;
        width: 120px;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba($color: $black, $alpha: 0.25);
        transition: 0.2s;

        &:hover {
          box-shadow: 0 4px 10px 0 rgba($color: $primary, $alpha: 0.5);
          transition: 0.2s;
        }
        .icon {
          width: 100%;
          height: 50%;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: $primary;
        }
        .info {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0 10px;
          justify-content: start;
          text-align: start;
          line-height: 12px;
          gap: 5px;
          .poi-title {
            font-size: 10pt;
            font-weight: 700;
            color: $black;
          }
          .address {
            font-size: 8pt;
            font-weight: 600;
            color: $gray;
          }
          .poi-title,
          .address {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
        .feedback {
          display: flex;
          flex-direction: row;
          gap: 10px;
          color: $gray;
          width: fit-content;

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3px;

            span {
              font-size: 8pt;
              font-weight: 600;
            }
          }

          .icon {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    @media (max-width: 500px) {
      .change-list {
        flex-direction: row;
      }
    }
  }
}
