@import "../../assets/styles/colors.scss";

.user-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 5px;
  .name {
    font-size: 12pt;
  }
  .picture {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $primary;
  }

  @media (max-width: 500px) {
    width: 100%;

    .expand {
      display: none;
    }

    .name {
      display: none;
    }
  }
}
